.shadow {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.shadow .detail {
  border-radius: 1rem;
  padding: 2rem 5rem;
  background: white;
  background: linear-gradient(to left, #1a2930, #0e0b16);
  position: absolute;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  color: #fff;
  z-index: 10;
  box-shadow: 0 0 200px #0e0b16;
}

.shadow .detail .back-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shadow .detail .back-home a h2 {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #fff;
}

.shadow .detail .back-home a h2:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.shadow .detail img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #fff;
}

.shadow .detail .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shadow .detail .stats img {
  width: 2rem;
  height: 2rem;
  display: inline;
}

.shadow .detail .stats .info {
  text-align: center;
}

.shadow .detail .stats .info h2 {
  margin-top: -0.5rem;
}

.shadow .detail .stats .info .platforms {
  display: flex;
  justify-content: space-evenly;
}

.shadow .detail .stats .info .platforms h2 {
  margin: 0;
}

.shadow .detail .stats .info .platforms h2 i {
  margin: 0rem;
  color: #fff;
}

.shadow .detail .media {
  margin-top: 5rem;
}

.shadow .detail .media img {
  width: 100%;
}

.shadow .detail .description {
  margin: 5rem 0rem;
}

.shadow .detail .description h2 {
  margin: 2rem 0;
}

.shadow .detail .description p {
  letter-spacing: 2px;
  line-height: 2rem;
  margin: 0;
}

.shadow .detail .gallery {
  margin-bottom: 3rem;
}

.shadow .detail .gallery h2 {
  margin: 2rem 0;
}

.shadow .detail .gallery img {
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: tomato;
}
::-webkit-scrollbar-track {
  background: white;
}

@media screen and (max-width: 1024px) {
  .shadow .detail .stats .rating h2,
  .shadow .detail .description h2,
  .shadow .detail .gallery h2,
  .shadow .detail .stats .info .platforms h2,
  .shadow .detail .stats .info h2 {
    font-size: 1rem;
  }

  .shadow .detail .stats .info .platforms h2 i {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 786px) {
  .shadow .detail {
    padding: 1rem 2rem;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    border-radius: unset;
  }

  .shadow .detail .back-home a h2 {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
  }

  .shadow .detail .media {
    margin-top: 1rem;
  }

  .shadow .detail .description {
    margin: 1rem 0rem;
  }

  .shadow .detail .description p {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 640px) {
  .shadow .detail .description p {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }

  .shadow .detail .stats .rating h2,
  .shadow .detail .description h2,
  .shadow .detail .gallery h2,
  .shadow .detail .stats .info .platforms h2,
  .shadow .detail .stats .info h2 {
    font-size: 0.8rem;
  }

  .shadow .detail .stats .info .platforms {
    margin-right: -1.5rem;
  }

  .shadow .detail .stats .info .platforms h2 i {
    margin-right: 0.8rem;
  }
}
