.shadow {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.shadow .detail {
  border-radius: 1rem;
  padding: 2rem 5rem;
  background: linear-gradient(to left, #49274a, #0e0a18);
  background: linear-gradient(
    to left,
    rgba(73, 39, 74, 0.95),
    rgba(14, 10, 24, 0.95)
  );
  position: absolute;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  color: #fff;
  z-index: 10;
  min-height: 100vh;
}

.shadow .detail .back-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shadow .detail .back-home a h2 {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff;
}

.shadow .detail .back-home a h2:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.shadow .detail img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 20px #fff;
}

.shadow .detail .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shadow .detail .stats .rating h2 {
  text-shadow: 0 0 10px #fff;
}

.shadow .detail .stats .rating h2 i {
  margin-left: 1rem;
  font-family: 'Cinzel Decorative', cursive;
  text-shadow: unset;
}

.shadow .detail .stats img {
  width: 2rem;
  height: 2rem;
  display: inline;
}

.shadow .detail .stats .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.shadow .detail .stats .info h2 {
  margin-top: -1rem;
  text-shadow: 0 0 10px #fff;
}

.shadow .detail .stats .info .platforms {
  display: flex;
  justify-content: space-evenly;
}

.shadow .detail .stats .info .platforms h2 {
  margin: 0;
  text-shadow: unset;
}

.shadow .detail .stats .info .platforms h2 i {
  margin-left: 1rem;
  color: #fff;
}

.shadow .detail .media {
  margin-top: 5rem;
}

.shadow .detail .media img {
  width: 100%;
}

.shadow .detail .genre {
  margin: 5rem 0rem 0rem 0rem;
}

.shadow .detail .genre ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
}

.shadow .detail .genre ul li {
  list-style: none;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  letter-spacing: 2px;
}

.shadow .detail .website {
  text-decoration: none;
  color: tomato;
}

.shadow .detail .website h1 {
  margin: 0;
}
.shadow .detail .website h1 i {
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4,
      0 0 40px #03bcf4 0 0 80px #03bcf4 0 0 160px #03bcf4;
  }
}

.shadow .detail .website h1 i:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.shadow .detail .description {
  margin: 5rem 0rem;
  background: linear-gradient(to right, #49274a, #0e0a18);
  padding: 2rem;
  border-radius: 5px;
}

.shadow .detail .description h2 {
  margin: 2rem 0;
}

.shadow .detail .description p {
  letter-spacing: 2px;
  line-height: 2.5rem;
  margin: 0;
}

.shadow .detail .gallery {
  margin-bottom: 3rem;
}

.shadow .detail .gallery h2 {
  margin: 2rem 0;
}

.shadow .detail .gallery img {
  margin-bottom: 5rem;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: tomato;
}
::-webkit-scrollbar-track {
  background: white;
}

@media screen and (max-width: 1024px) {
  .shadow .detail .stats .rating h2,
  .shadow .detail .description h2,
  .shadow .detail .gallery h2,
  .shadow .detail .stats .info .platforms h2,
  .shadow .detail .stats .info h2 {
    font-size: 1rem;
  }

  .shadow .detail .genre ul li {
    margin-right: 1rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }

  .shadow .detail .stats .info .platforms h2 i {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 786px) {
  .shadow .detail {
    padding: 1rem 2rem;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    border-radius: unset;
  }

  .shadow .detail .back-home a h2 {
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
  }
  .shadow .detail .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .shadow .detail .stats .info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .shadow .detail .stats .info h2 {
    margin-top: 0;
    margin-right: 1rem;
  }

  .shadow .detail .stats .info .platforms {
    margin-bottom: 1rem;
  }

  .shadow .detail .stats .info .platforms h2 i {
    margin-left: 0rem;
    margin-right: 0.5rem;
  }
  .shadow .detail .media {
    margin-top: 1rem;
  }

  .shadow .detail .genre {
    margin-top: 2rem;
  }

  .shadow .detail .genre ul li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }

  .shadow .detail .gallery img {
    margin-bottom: 2rem;
  }

  .shadow .detail .website h1 {
    font-size: 1.5rem;
  }

  .shadow .detail .description {
    margin: 1rem 0rem;
  }

  .shadow .detail .description p {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 640px) {
  .shadow .detail .description p {
    line-height: 1.4rem;
    font-size: 0.8rem;
  }

  .shadow .detail .stats .rating h2,
  .shadow .detail .description h2,
  .shadow .detail .gallery h2,
  .shadow .detail .stats .info .platforms h2,
  .shadow .detail .stats .info h2 {
    font-size: 0.8rem;
  }
}

.greenShadow {
  box-shadow: 50px 50px 200px greenyellow;
}

.orangeShadow {
  box-shadow: 50px 50px 200px orange;
}

.redShadow {
  box-shadow: 50px 50px 200px red;
}

#green {
  color: greenyellow;
}

#orange {
  color: orange;
}

#red {
  color: red;
}

.greenGenre {
  color: greenyellow;
  border: 2px solid greenyellow;
}

.orangeGenre {
  color: orange;
  border: 2px solid orange;
}

.redGenre {
  color: red;
  border: 2px solid red;
}
