.game {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  background: rgb(31, 31, 31);
  background: linear-gradient(to right, rgb(73, 0, 0), maroon);
  background: linear-gradient(to left, #a9abb8, #25274d);
  background: linear-gradient(to left, #254e58, #112d32);
  color: #fff;
  margin: 0.5rem;
  margin-top: 0;
  position: relative;
  box-shadow: 5px 5px 5px #000;
}

.game .name-rating {
  margin: 1rem;
}

.game .name-rating h3 {
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 0.5rem;
  margin: 0;
}

.game .name-rating h3 i {
  margin-right: 0.5rem;
}

.game .name-rating h4 {
  margin: 0;
  background: linear-gradient(to right, rgb(73, 0, 0), maroon);
  background: linear-gradient(to left, #a9abb8, #25274d);
  background: linear-gradient(to left, #254e58, #112d32);
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  border-top: 3px solid rgb(73, 0, 0);
  border-top: 3px solid #25274d;
  border-top: 3px solid #112d32;
  border-bottom: 3px solid rgb(73, 0, 0);
  border-bottom: 3px solid #25274d;
  border-bottom: 3px solid #112d32;
  padding: 0.5rem;
}

.game .name-rating h5 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: 500;
}

.game .image {
  margin: 1rem;
  margin-bottom: 0.6rem;
}

.game img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.game .add-more {
  background: linear-gradient(maroon, rgb(73, 0, 0));
  background: rgba(37, 39, 77, 0.9);
  background: rgba(17, 45, 50, 0.9);
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 100%;
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.game .add-more h1 {
  margin-top: 5rem;
}

.game .add-more h1 i:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.game .add-more h3 {
  display: inline-block;
  margin-top: 1rem;
  border: 3px solid greenyellow;
  color: greenyellow;
  padding: 5px 12px;
}

.game .add-more h3:hover {
  background: greenyellow;
  color: #112d32;
  border: none;
  padding: 8px 15px;
  transition: color 0.3s ease;
}

.game .add-more h3 i {
  margin-right: 1rem;
}

.green {
  /*background: green;
  color: #fff;*/
  color: greenyellow;
}

.orange {
  /*background: orange;
  color: #fff;*/
  color: orange;
}

.red {
  /*background: red;
  color: #fff;*/
  color: red;
}

@media screen and (max-width: 1024px) {
  .game .name-rating h4 {
    font-size: 0.8rem;
  }

  .game .name-rating h3 {
    font-size: 1rem;
  }

  .game .name-rating h5 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 576px) {
  .game {
    margin: 0.5rem;
    height: 300px;
  }

  .game .name-rating {
    margin: 0.5rem;
    margin-bottom: 1rem;
  }

  .game .image {
    margin: 0.5rem;
  }

  .game img {
    width: 100%;
    min-height: 168px;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px #000;
  }

  .game .name-rating {
    height: 100px;
  }

  .game .name-rating h4 {
    font-size: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
  }

  .game .name-rating h3 {
    font-size: 0.8rem;
  }

  .game .name-rating h5 {
    font-size: 0.5rem;
    margin-top: 0rem;
  }

  .game .add-more h1 {
    font-size: 1.2rem;
  }

  .game .add-more h3 {
    font-size: 0.6rem;
  }
}
