.home-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.home-search a {
  margin-right: 2rem;
  color: #fff;
  box-shadow: 0 0 10px #fff;
  border-radius: 5px;
}
.home-search a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.home-search a h2 {
  margin: 0;
  padding: 0.2rem 0.5rem;
}

.home-search form input {
  width: 300px;
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
}

.home-search form input:focus {
  outline: none;
}

.home-search form input:focus::placeholder {
  color: transparent;
}

::placeholder {
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  padding-left: 1rem;
}

@media screen and (max-width: 786px) {
  .home-search a {
    font-size: 0.7rem;
  }

  .home-search form input {
    width: 200px;
    padding: 0.3rem;
  }
}
