.home-search {
  position: fixed;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #49274a, #0e0a18);
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1;
}

.home-search a {
  margin-right: 2rem;
  color: #fff;
  box-shadow: 0 0 10px #fff;
  border-radius: 50%;
}
.home-search a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.home-search a h2 {
  margin: 0;
  padding: 0.6rem 0.8rem;
}

.home-search form input {
  width: 300px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px #49274a;
}

.home-search form input:focus {
  outline: none;
}

.home-search form input:focus::placeholder {
  color: transparent;
}

::placeholder {
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  padding-left: 1rem;
  color: #49274a;
}

@media screen and (max-width: 786px) {
  .home-search a {
    font-size: 0.7rem;
  }

  .home-search a h2 {
    padding: 0.3rem 0.5rem;
  }

  .home-search form input {
    width: 200px;
    padding: 0.3rem;
  }
}
