.game {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  background: rgba(14, 10, 24, 1);
  color: #fff;
  margin: 1rem;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 20px #49274a;
}

.game .name-rating {
  margin: 1rem;
}

.game .name-rating h3 {
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 0.5rem;
  margin: 0;
}

.game .name-rating h3 i {
  margin-right: 0.5rem;
}

.game .name-rating h4 {
  margin: 0;
  background: #0e0a18;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  border-top: 3px solid #49274a;
  border-bottom: 3px solid #49274a;
  padding: 0.5rem;
}

.game .name-rating h5 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: 500;
}

.game .image {
  margin: 1rem;
  margin-bottom: 0.6rem;
}

.game img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.game .add-more {
  background: rgba(14, 10, 24, 0.95);

  position: absolute;
  top: 0rem;
  width: 100%;
  height: 100%;
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.game .add-more a h1 {
  margin-top: 5rem;
  color: #fff;
}

.game .add-more h1 i:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.game .add-more h3 {
  display: inline-block;
  margin-top: 1rem;
  border: 3px solid greenyellow;
  color: greenyellow;
  padding: 5px 12px;
  border-radius: 5px;
}

.game .add-more h3:hover {
  background: greenyellow;
  color: #0e0b16;
  border: none;
  padding: 8px 15px;
  transition: color 0.3s ease;
}

.game .add-more h3 i {
  margin-right: 1rem;
}

.green {
  color: greenyellow;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

@media screen and (max-width: 1024px) {
  .game .name-rating h4 {
    font-size: 0.8rem;
  }

  .game .name-rating h3 {
    font-size: 1rem;
  }

  .game .name-rating h5 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 640px) {
  .game {
    margin: 0.5rem;
    height: 300px;
  }

  .game .name-rating {
    margin: 0.5rem;
    margin-bottom: 1rem;
  }

  .game .image {
    margin: 0.5rem;
  }

  .game img {
    width: 100%;
    min-height: 168px;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px #000;
  }

  .game .name-rating {
    height: 100px;
  }

  .game .name-rating h4 {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
    padding: 0;
    border-top: 1px solid #0e0b16;
    border-bottom: 1px solid #0e0b16;
  }

  .game .name-rating h3 {
    font-size: 0.9rem;
    padding: 0rem;
    padding-bottom: 0.2rem;
  }

  .game .name-rating h5 {
    font-size: 0.8rem;
    margin-top: 0rem;
  }

  .game .add-more h1 {
    font-size: 2rem;
  }

  .game .add-more h3 {
    font-size: 0.9rem;
  }
}
