.header {
  max-width: 1280px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 200px;
}

.header img {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: height 0.3s ease;
}

.header .cover {
  position: fixed;
  background: rgba(128, 0, 0, 0.3);
  background: linear-gradient(to right, rgba(73, 0, 0, 0.3), maroon);
  background: linear-gradient(to right, rgba(37, 39, 77, 0.3), #a9abb8);
  background: linear-gradient(to left, #254e58, rgba(17, 45, 50, 0.3));
  background: linear-gradient(to left, #5a5560, rgba(70, 52, 78, 0.3));
  z-index: 2;
  width: 100vw;
  height: 200px;
  top: 0;
  transition: height 0.3s ease;
}

.header .cat {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 200px;
  transition: height 0.3s ease;
}

.header .cat i {
  opacity: 0;
}

.header .cat .name-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.3rem 0rem 0rem 1rem;
}

.header .cat .name-search h1 {
  cursor: pointer;
  margin: 0rem 1rem 0rem 0rem;
}

.header .cat .name-search h1:hover {
  transform: rotate(-3deg);
  transition: all 0.3s ease;
}

.header .cat .name-search form input {
  width: 300px;
  padding: 0.4rem;
}

::placeholder {
  font-family: 'Cinzel', serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.header .cat .categories {
  position: absolute;
  z-index: 4;
  bottom: 0rem;
  right: 5rem;
}

.header .cat .categories ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0rem 0rem 0.8rem 0rem;
}

.header .cat .categories ul li {
  list-style: none;
  margin: 0rem 1rem;
  letter-spacing: 3px;
  cursor: pointer;
  font-weight: bold;
}

.header .cat .categories ul li:hover {
  padding-bottom: 0.2rem;
  border-bottom: 5px solid #fff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .header .cat .categories {
    display: none;
  }

  .header .cat i {
    position: absolute;
    opacity: 1;
    bottom: 0.8rem;
    right: 2rem;
    z-index: 4;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 786px) {
  .header .cat .name-search h1 {
    left: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .header img,
  .header .cover,
  .header .cat {
    height: 45px !important;
  }

  .header .cat i {
    right: 1rem;
  }

  .header .cat .name-search {
    margin: 0.3rem 0rem 0rem 1rem;
  }

  .header .cat .name-search h1 {
    font-size: 1.5rem;
    letter-spacing: 0;
    top: 0.6rem;
  }

  .header .cat .name-search form input {
    width: 150px;
    padding: 0.2rem;
  }

  ::placeholder {
    font-size: 0.6rem;
  }
}
