@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background: rgb(65, 65, 65);
  background: maroon;
  background: linear-gradient(to right, maroon, #000);
  color: #fff;
  font-family: 'Cinzel', serif;
  letter-spacing: 1px;
}
